@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-spaced {
    border-collapse: separate;
    border-spacing: 0 2rem;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
